@charset "utf-8";
@import "~bulma/bulma";

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.lodestar-header {
  text-align: center;
}

.lodestar-columns {
  padding-bottom: 20px;
}

.card {
  width: 280px;
  min-height: 183px;
  box-shadow: unset;
  background-color: unset;
}

button {
  margin: 20px;
}

.media {
  text-align: center;
}

.title {
  text-align: center;
}