@charset "utf-8";
@import "~bulma/bulma";

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.section {
  padding: 1rem 0.5rem;
}

.lodestar-logo {
  max-width: 145px;
}

button :hover {
  background-color: #f1f1f1;
}

button {
  background-color: white;
  padding: 0px;
}

.lodestar-columns {
  padding-bottom: 20px;
}

.lodestar-footer {
  padding: 0.5rem;
}

.card {
  width: 280px;
  min-height: 370px;
  box-shadow: unset;
  background-color: unset;
  text-align: center;
}

.card-image {
  min-height: 256px;
}

.card-content {
  padding: 0.5rem;
}

button {
  margin: 20px;
}

.media {
  text-align: center;
}

.title {
  text-align: center;
}

.card-description {
  min-height: 74px;
  margin-bottom: 0.5rem !important;
}

.app-icon {
  padding: 13px;
}