@charset "utf-8";
@import "~bulma/bulma";

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.lodestar-header {
  text-align: center;
}

.lodestar-columns {
  padding-bottom: 20px;
}